.tasks {
    position: relative;
}

.tasks__header {
    margin-bottom: 30px;
}

.tasks__inform {
    display: grid;
    grid: repeat(2, 430px) / repeat(2, 350px);
    grid-gap: 15px;
}

.tasks__legend {
    right: 20px;
    bottom: 20px;
}