button {
    width: 170px;
    display: grid;
    color: #FAFAFA;
    letter-spacing: 1px;
    align-items: center;
    transition: 0.2s all;
    background-color: #1C1E2A;

    font: {
        weight: 500;
        size: 12px;
    }
    
    border: {
        color: #A5277A;
        style: solid;
        width: 1px;
        radius: 4px;
    }

    & > * {
        padding: 5px 0px;
    }

    &:hover {
        filter: brightness(1.1);
    }
}