.diagram {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;

    &::before {
        content: url('/diagram/diagramCircle.svg')
    }

    .diagram__svg {
        position: absolute;
    }
}