.settings__module {
    &.module {
        height: 195px;
        border-radius: 8px;
        padding: 5px;
        background: rgba(28, 30, 42, 0.9);
    }

    .module__content {
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
    }

    .module__img {
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;

        img {
            border-radius: 4px;
        }
    }
    .module__settings {
        z-index: 2;
        position: relative;
    }
    .module__info {
        z-index: 2;
        margin: 12px;
        display: grid;
        color: #DEDCDC;
        position: relative;
        border-radius: 8px;
        padding: 5px 10px;
        backdrop-filter: blur(3px);
        grid-template-columns: 1fr 50px;
        grid-template-rows: repeat(2, 1fr);
        background: rgba(217, 217, 217, 0.19);
    }
    .module__title {
        grid-column: 1/2;
        line-height: 20px;
        margin-bottom: 5px;

        font: {
            weight: 500;
            size: 16px;
        }
    }
    .module__status {
        grid-column: 1/2;
        line-height: 15px;

        font: {
            weight: 500;
            size: 12px;
        }

        span {
            line-height: 16px;

            font: {
                weight: 600;
                size: 13px;
            }
        }
    }
    .module__toggle {
        grid-row: 1/3;
        grid-column: 2/3;
        align-self: center;
        justify-content: center;
    }

    .module__status_on {
        span {
            color: #40BF0E;
        }
    }
    
    .module__status_off {
        span {
            color: #CD1717;
        }
    }

    input[type="checkbox"] {
        display: none;
        &:checked+label.moduleToggle {
            background-color: rgba(255, 255, 255, 0.85);
            border: 2px solid rgba(255, 255, 255, 0.85);
            &:before {
                transform: translateX(16px);
                background-color: #1C1E2A;
            }
        }
    }
    
    label.moduleToggle {
        display: flex;
        width: 36px;
        height: 19px;
        background-color: #59595A;
        border: 2px solid #59595A;
        border-radius: 99em;
        position: relative;
        transition: transform 0.3s ease-in-out;
        transform-origin: 50% 50%;
        cursor: pointer;
    
        &:before {
            transition: transform 0.3s ease;
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: rgba(255, 255, 255, 0.85);;
            border-radius: 50%;
            top: -0.6px;
            left: 0px;
        }
    }    
}