.daily-planner__diagram {
    .section__body {
        height: 90%;
        display: flex;
        align-items: center;
    }

    .diagram {
        --pie_percent: 20;
        --b: 5px;
        width: 195px;
        height: 195px;
        margin: auto;
        aspect-ratio: 1;
        position: relative;

        &::before {
            content: none;
        }
    }
    
    .pie {
        position: absolute;
        border-radius: 50%;
        inset: 0;
        background: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--pie_percent) * 1%), rgba(0, 0, 0, 0) 0);
        -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
        mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
    }
    
    .animate {
        animation: pie_percent 1s easy-in .5s both;
    }
    
    @keyframes pie_percent {
        from {
            --pie_percent: 0
        }
    }
}
