:root {
    --first_val: 0%;
    --second_val: 0%
}

.diagram__section {
    width: 400px;
    height: 155px;
    clip-path: url('#diagram_section');
    position: absolute;
    transition: 0.2s all;

    &:nth-child(2) {
        top: 48px;
        left: 182px;
        transform: rotate(337.5deg);
    }
    &:nth-child(3) {
        top: 200px;
        left: 183px;
        transform: rotate(22.3deg);
    }
    &:nth-child(4) {
        top: 306px;
        left: 73px;
        transform: rotate(67.3deg);
    }
    &:nth-child(5) {
        top: 306px;
        left: -78px;
        transform: rotate(112deg);
    }
    &:nth-child(6) {
        top: 197px;
        left: -185px;
        transform: rotate(157deg);
    }
    &:nth-child(7) {
        top: 44px;
        left: -185px;
        transform: rotate(202deg);
    }
    &:nth-child(8) {
        top: -62px;
        left: -76px;
        transform: rotate(247deg);
    }
    &:nth-child(9) {
        top: -62px;
        left: 76px;
        transform: rotate(292deg);
    }
}

